<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand">Proyecto Concesionario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index">Inicio <span class="sr-only"></span></a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/autenticacion/registro">Crear cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/autenticacion/inicio-sesion"><i
                            class="fab fa-sign-in"></i>Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://github.com/Stev21C/Concesionario_Frontend/blob/f341d8276257c946413ed1f0b0d4be0b434d8a45/src/assets/Azul%20Mar%20Genial%20Fondo%20de%20Pantalla%20de%20Escritorio.jpg?raw=true"
                class="d-block w-100" alt="Sunset Over the City" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="https://github.com/Stev21C/Concesionario_Frontend/blob/9092346420cde589b5cd72396626e3b36aa690ad/src/assets/Morado%20Geom%C3%A9trico%20Genial%20Escritorio%20Fondo%20de%20Pantalla.jpg?raw=true"
                class="d-block w-100" alt="Canyon at Nigh" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="https://img-b.udemycdn.com/course/750x422/1837638_4cd0_3.jpg" class="d-block w-100"
                alt="Cliff Above a Stormy Sea" />
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel wrapper -->




<div class="card-group m-3">
    <div class="card m-2">
        <img class="card-img-top"
            src="https://www.hiberus.com/crecemos-contigo/wp-content/uploads/2021/10/angular-todo-lo-que-necesitas-saber.png"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">Framework Angular para frontend</p>
        </div>
    </div>
    <div class="card m-2">
        <img class="card-img-top" src="https://trellat.es/wp-content/uploads/spring-boot-logo.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Spring Boot</h5>
            <p class="card-text">Spring Boot para creacion de backend</p>
        </div>
    </div>
    <div class="card m-2">
        <img class="card-img-top"
            src="https://i0.wp.com/blog.knoldus.com/wp-content/uploads/2020/06/postgresql-logo.png?fit=500%2C457&ssl=1"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Postgresql</h5>
            <p class="card-text">Postgresql para almacenamiento de informacion</p>

        </div>
    </div>
</div>


<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Curso Desarrollo Web Universidad de Ibague - Steven Correa</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.linkedin.com/in/steven-correaciro/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Stev21C" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
</footer>  