<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <link href="/Concesionario_Frontend/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Concesionario_Frontend/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Concesionario_Frontend/assets/css/style.css" rel="stylesheet">
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto Concesionario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAT1JREFUSEvtlb8uBUEUxn9fJKJRKTyARASNSiIkFESl1fAEPMB9A9HzBHQahdKfgkhUGnGj8AAKlejIJyu7snfu7s6ue28jpjzzne83c+acjBjw0oD9qQ2wPQ5cpwdakvRS53C1ALZHgVtgNjV9ABYkvcUgUYDtYeACWAzMboAVSR9VkEqA7WT/FNgoMTkBNiW5DBIDHAA7kTIcStptDLDdAvZiNU73W5L2i7SFN7C9BRzVNM9k25KOw5wugO114AwYagj4BNYkXebzOgC259J2HGlonsnfgWRG7rPAD8D2BHAHjP3SPEt7BeYlPSeBPOAJmOzRPEt/lDQTAtrAVJ8AbUnTHYC8se3SwamcWqmracra9A8CFFy/qIyhptEb/AM6us/2FbCcC55LWg1aOaopfYM+Ddu3TfTL7BX2BXxheBkclQOOAAAAAElFTkSuQmCC"/> Inicio <span class="sr-only"></span></a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/autenticacion/registro">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAJNJREFUSEvtld0JwzAQgz/tUgik63ScPgayTNdJodMo1OCQlPy0DnZf7GdLOp3sO5H5KDM/ZQVs34AOaBKdvYC7pEfELxzYHoA2kTzCnpKuWwI+SR7gkqbCPx2UE4hV2A6i86rWXMZ7XzvILnAmi5rBavd+DrlmcDgq6j/427h+L5weuCQ+0/2Fk0i6Cyu7k3M4GAEHm34ZNofbKgAAAABJRU5ErkJggg=="/> Crear cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/autenticacion/inicio-sesion">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKxJREFUSEvtlsENwjAQBGc/QAdAJxQEJdEGdUEH8Fp0SIlE4iS2ghFI8TfnnXjurERUXqqcTxJg+wpsC+E3SbvuniGAC8Nf5ZJ6eQvgzeRfKDoBZ2CVGoLZJ4gA2wfgAux7Izl3ipo3tB3hAQlYu7JPkHMHbIem0HVs6n8HYDt5kz+maAxQtclA3TGdan52k4cULYDWwDcU3YH1lPPO84ekTdYnszB4tLz6X8UTnvdkGdgNfukAAAAASUVORK5CYII="/> Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- Slides with indicators -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://github.com/Stev21C/Concesionario_Frontend/blob/f341d8276257c946413ed1f0b0d4be0b434d8a45/src/assets/Azul%20Mar%20Genial%20Fondo%20de%20Pantalla%20de%20Escritorio.jpg?raw=true"
                    class="d-block w-100" alt="..." style="height: 450px;">
            </div>
            <div class="carousel-item">
                <img src="https://github.com/Stev21C/Concesionario_Frontend/blob/9092346420cde589b5cd72396626e3b36aa690ad/src/assets/Morado%20Geom%C3%A9trico%20Genial%20Escritorio%20Fondo%20de%20Pantalla.jpg?raw=true"
                    class="d-block w-100" alt="..." style="height: 450px;">
            </div>
            <div class="carousel-item">
                <img src="https://img-b.udemycdn.com/course/750x422/1837638_4cd0_3.jpg" class="d-block w-100" alt="..."
                    style="height: 450px;">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div><!-- End Slides with indicators -->



    <div class="card-group m-3">
        <div class="card m-2">
            <img class="card-img-top"
                src="https://www.hiberus.com/crecemos-contigo/wp-content/uploads/2021/10/angular-todo-lo-que-necesitas-saber.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">Framework Angular para frontend</p>
            </div>
        </div>
        <div class="card m-2">
            <img class="card-img-top" src="https://trellat.es/wp-content/uploads/spring-boot-logo.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spring Boot</h5>
                <p class="card-text">Spring Boot para creacion de backend</p>
            </div>
        </div>
        <div class="card m-2">
            <img class="card-img-top"
                src="https://i0.wp.com/blog.knoldus.com/wp-content/uploads/2020/06/postgresql-logo.png?fit=500%2C457&ssl=1"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Postgresql</h5>
                <p class="card-text">Postgresql para almacenamiento de informacion</p>

            </div>
        </div>
    </div>


    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Curso Desarrollo Web Universidad de Ibague - Steven Correa</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="https://www.linkedin.com/in/steven-correaciro/" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Stev21C" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Vendor JS Files -->
        <script src="/Concesionario_Frontend/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/chart.js/chart.umd.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/quill/quill.min.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/Concesionario_Frontend/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/Concesionario_Frontend/assets/js/main.js"></script>
    </footer>