<header>
    <app-header-nav></app-header-nav>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</header>

<div *ngIf="purchaseSaved == false" class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo coche</th>
                <th scope="col">Cantidad de unidades</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Total</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-success" *ngFor="let car of listCarsPurchase">
                <td>{{car.codeCar}}</td>
                <td>{{car.quantityCars}}</td>
                <td>{{car.totalPriceCars/car.quantityCars}}</td>
                <td>{{car.totalPriceCars}}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info" (click)="registerPurchase()">Registrar compra</button>
</div>

<h1 *ngIf="purchaseSaved == true">Tu codigo de factura es: {{numberBill}}, Guardalo</h1>



